// ==========================================================================
// SCSS Mixins & Functions
// ==========================================================================

@use 'sass:math'; // math.div 사용 시 필요.

// ========================================
// Functions
// ========================================

// font size를 rem으로 변환
@function rem($size) {
  $size: math.div($size, 16);
  @return #{$size}rem;
}

// ========================================
// Mixins
// ========================================

// flex
@mixin flex($justifyContent: center, $alignItems: center, $gap: null) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  @if $gap {
    gap: $gap;
  }
}

// font size
@mixin defineFont($size: null, $weight: 400, $lineHeight: 1.3, $letterSpacing: 0) {
  @if $size {
    font-size: rem($size);
  }
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}