// ==========================================================================
// Design Variables
// ==========================================================================

// ========================================
// Colors
// ========================================

$colorPrimary50: #27170C;
$colorPrimary100: #4A4540;
$colorText100: #D9D9D9;
$colorText150: #BABABA;
$colorText50: #ffffff;
$colorBlack: #161616;