// ==========================================================================
// Button Components
// ==========================================================================

@use '../base/variables' as *;
@use '../base/mixins' as *;

// ========================================
// Button Base
// ========================================

.btn {
    font-size: rem(24);
    font-weight: 500;
    color: $colorText50;
    padding: rem(12) rem(60);
    text-align: center;
    cursor: pointer;
    border: none;
    background: $colorPrimary50;
    border-radius: rem(30);
    transition: all 0.3s ease;
    border-radius: rem(30);
    border: 1px solid $colorPrimary50;

    &:hover {
        border: 1px solid $colorText50;
        background: $colorPrimary100;
    }
}