// ==========================================================================
// Button Components
// ==========================================================================

@use '../base/variables' as *;
@use '../base/mixins' as *;

// ========================================
// Button Base
// ========================================

.btn {
    font-size: rem(24);
    font-weight: 500;
    color: $colorText50;
    padding: rem(12) rem(60);
    text-align: center;
    cursor: pointer;
    background: $colorPrimary50;
    border-radius: rem(30);
    transition: all 0.3s ease;
    border: 1px solid $colorPrimary50;

    &:hover {
        border: 1px solid $colorText50;
        background: $colorPrimary100;
    }
}

@media (min-width:320px) and (max-width: 479px) {
    .btn {
        font-size: rem(14);
        padding: rem(10) rem(30);
    }


}

@media (min-width:480px) and (max-width: 767px) {
    .btn {
        font-size: rem(16);
        padding: rem(12) rem(40);
    }

}

@media (min-width:768px) and (max-width: 1199px) {
    .btn {
        font-size: rem(20);
        padding: rem(12) rem(50);
    }
}

@media (min-width:1200px) and (max-width: 1469px) {
    .btn {
        font-size: rem(20);
        padding: rem(12) rem(50);
    }
}

@media (min-width:1470px) and (max-width: 1719px) {
    .btn {
        font-size: rem(24);
        padding: rem(12) rem(60);
    }
}