// Mobile (320px 기준)
$container-mobile: 320px;
$padding-mobile: 16px;

// Tablet-S (480px 기준)
$container-tablet-s: 440px;
$padding-tablet-s: 20px;

// Tablet-L (768px 기준)
$container-tablet-l: 720px;
$padding-tablet-l: 24px;

// Laptop (1200px 기준)
$container-laptop: 1140px;
$padding-laptop: 22px;

// Desktop-S (1470px 기준)
$container-desktop-s: 1400px;
$padding-desktop-s: 28px;

// Desktop-L (1720px ~ 1920px 기준)
$container-desktop-l: 1644px;
$padding-desktop-l: 30px;

.container {
  width: 100%;
  max-width: $container-desktop-l;
  padding: 0 $padding-desktop-l;
  margin: 0 auto;
}

@media (min-width:1470px) and (max-width: 1719px) {
  .container {
    max-width: $container-desktop-s;
    padding: 0 $padding-desktop-s;
  }
}

@media (min-width:1200px) and (max-width: 1469px) {
  .container {
    max-width: $container-laptop;
    padding: 0 $padding-laptop;
  }
}

@media (min-width:768px) and (max-width: 1199px) {
  .container {
    max-width: $container-tablet-l;
    padding: 0 $padding-tablet-l;
  }
}

@media (min-width:480px) and (max-width: 767px) {
  .container {
    max-width: $container-tablet-s;
    padding: 0 $padding-tablet-s;
  }
}

@media (min-width:320px) and (max-width: 479px) {
  .container {
    max-width: $container-mobile;
    padding: 0 $padding-mobile;
  }
}