// ==========================================================================
// Footer Component
// ==========================================================================

@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
  position: relative;
  padding-top: rem(40);
  padding-bottom: rem(40);
  background-color: $colorBlack;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 1023px) {
      flex-direction: column;
      align-items: center;
      gap: rem(40);
    }
  }

  // Left Area
  &__left {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    align-items: center;

    @media (min-width: 1024px) {
      align-items: flex-start;
    }
  }

  &__logo {
    img {
      height: auto;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    @media (min-width: 1024px) {
      img {
        margin: 0;
      }
    }
  }

  &__description {
    color: $colorText150;
    font-size: rem(16);
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }
  }

  // Right Area
  &__right {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    align-items: flex-end;

    @media (max-width: 1023px) {
      align-items: center;
    }
  }

  &__social {
    @include flex(center, center);
    gap: rem(20);
  }

  &__social-link {
    @include flex(center, center);
    width: rem(40);
    height: rem(40);
    color: $colorText150;
    transition: color 0.3s ease;

    &:hover {
      color: $colorText50;
    }

    &:focus-visible {
      outline: 2px solid $colorPrimary100;
      outline-offset: 2px;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  // Navigation (Header style)
  &__nav-list {
    @include flex(center, center);
  }

  &__nav-item {
    overflow: hidden;
    position: relative;

    &:not(:last-child) {
      padding-right: rem(20);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 1em;
        background-color: $colorText150;
      }
    }

    &:not(:first-child) {
      padding-left: rem(20);
    }
  }

  &__nav-link {
    display: inline-block;
    font-size: rem(16);
    text-transform: uppercase;
    color: $colorText150;
    transition: color 0.3s ease;

    &:hover {
      color: $colorText50;
    }

    &:focus-visible {
      outline: 2px solid $colorPrimary100;
      outline-offset: 2px;
    }
  }

}