// ==========================================================================
// Footer Component
// ==========================================================================

@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
  position: relative;
  padding-top: rem(40);
  padding-bottom: rem(40);
  background-color: $colorBlack;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 1023px) {
      flex-direction: column;
      gap: rem(40);
    }
  }

  // Left Area
  &__left {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__logo {
    img {
      height: auto;
      max-width: 100%;
      display: block;
    }
  }

  &__description {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
    color: $colorText150;
    font-size: rem(16);
    line-height: 1.6;
  }

  // Right Area
  &__right {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    align-items: flex-end;

    @media (max-width: 1023px) {
      align-items: flex-start;
    }
  }

  &__social {
    @include flex(center, center);
    gap: rem(20);
  }

  &__social-link {
    @include flex(center, center);
    width: rem(40);
    height: rem(40);
    color: $colorText150;
    transition: color 0.3s ease;

    &:hover {
      color: $colorText50;
    }

    &:focus-visible {
      outline: 2px solid $colorPrimary100;
      outline-offset: 2px;
    }

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  // Navigation (Header style)
  &__nav {
    @include flex(center, center);
    gap: rem(20);

    @media (max-width: 1023px) {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(10);
    }
  }

  &__nav-link {
    display: inline-block;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: rem(16);
    text-transform: uppercase;
    color: $colorText150;
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $colorPrimary100;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $colorText50;

      &::after {
        width: 100%;
      }
    }

    &:focus-visible {
      outline: 2px solid $colorPrimary100;
      outline-offset: 2px;
    }
  }

  &__nav-divider {
    color: $colorText150;
    font-size: rem(16);

    @media (max-width: 1023px) {
      display: none;
    }
  }

}