// ==========================================================================
// Footer Component
// ==========================================================================

@use '../base/mixins' as *;

.footer {
  position: relative;
  // padding: will be set separately
  background-color: #161616;
  // border-top: will be set separately
  
  &__inner {
    width: 100%;
    max-width: 1644px;
    margin: 0 auto;
    padding-left: rem(30);
    padding-right: rem(30);
  }
  
  &__top {
    display: grid;
    grid-template-columns: 1fr;
    // gap: will be set separately
    // margin-bottom: will be set separately
    
    @media (min-width: 768px) {
      grid-template-columns: 2fr 1fr 1fr 1fr;
      // gap: will be set separately
    }
  }
  
  &__brand {
    max-width: 40rem;
  }
  
  &__logo {
    font-family: 'Cormorant Garamond', serif;
    // font-weight: will be set separately
    // letter-spacing: will be set separately
    color: #ffffff;
    text-transform: uppercase;
    // margin-bottom: will be set separately
  }
  
  &__description {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #BABABA;
    // line-height: will be set separately
    // margin-bottom: will be set separately
  }
  
  &__social {
    @include flex(center, center);
  }
  
  &__social-link {
    @include flex(center, center);
    width: 4rem;
    height: 4rem;
    // border: will be set separately
    // border-radius: will be set separately
    color: #BABABA;
    // transition: will be set separately
    
    &:hover {
      border-color: #4A4540;
      color: #4A4540;
    }

    &:focus-visible {
      outline: 2px solid #4A4540;
      outline-offset: 2px;
    }
    
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  
  &__column {
    // Column styling
  }
  
  &__title {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
    // font-weight: will be set separately
    // letter-spacing: will be set separately
    text-transform: uppercase;
    color: #4A4540;
    // margin-bottom: will be set separately
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    // gap: will be set separately
  }
  
  &__link {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #BABABA;
    // transition: will be set separately
    
    &:hover {
      color: #ffffff;
    }

    &:focus-visible {
      outline: 2px solid #4A4540;
      outline-offset: 2px;
    }
  }
  
  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: will be set separately
    // padding-top: will be set separately
    // border-top: will be set separately
    
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  &__copyright {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #BABABA;
  }
  
  &__legal {
    @include flex(center, center);
  }
  
  &__legal-link {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #BABABA;
    // transition: will be set separately
    
    &:hover {
      color: #ffffff;
    }
  }
}

// Newsletter Section (optional in footer)
.footer-newsletter {
  // padding: will be set separately
  background-color: #161616;
  text-align: center;
  
  &__title {
    font-family: 'Cormorant Garamond', serif;
    // font-weight: will be set separately
    // margin-bottom: will be set separately
  }
  
  &__text {
    color: #BABABA;
    // margin-bottom: will be set separately
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    // gap: will be set separately
    max-width: 50rem;
    margin: 0 auto;
    
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  
  &__input {
    flex: 1;
    // padding: will be set separately
    background: transparent;
    // border: will be set separately
    color: #ffffff;
    
    &::placeholder {
      color: #BABABA;
    }
    
    &:focus {
      outline: none;
      border-color: #4A4540;
    }
  }
}
