// ==========================================================================
// Header Component
// ==========================================================================

@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: rem(20);
    padding-bottom: rem(20);
    background-color: $colorBlack;
    z-index: 100;
    // transition: will be set separately

    // Scrolled state
    &.is-scrolled {
        // @include glass-effect; // TODO: Add glass-effect mixin
        background: rgba(10, 10, 10, 0.9);
    }

    // Hidden state (on scroll down)
    &.is-hidden {
        transform: translateY(-100%);
        pointer-events: none;
    }

    &__inner {
        width: 100%;
        max-width: 1644px;
        margin: 0 auto;
        padding-left: rem(164);
        padding-right: rem(164);
        @include flex(space-between, center);
        height: 100%;
    }

    &__nav-list {
        @include flex(center, center);
    }

    &__nav-item {
        overflow: hidden;
        position: relative;

        &:not(:last-child) {
            padding-right: rem(40);

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 1em;
                background-color: $colorText150;
            }
        }

        &:not(:first-child) {
            padding-left: rem(40);
        }
    }

    &__nav-link {
        display: inline-block;
        font-size: rem(20);
        text-transform: uppercase;
        color: $colorText150;
        position: relative;
        transition: color 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: $colorText50;
            transition: width 0.3s ease, background-color 0.3s ease;
        }

        &:hover,
        &.is-active {
            color: $colorText50;

            &::after {
                width: 100%;
            }
        }

        &:focus-visible {
            outline: 2px solid $colorPrimary100;
            outline-offset: 2px;
        }
    }

    // Navigation
    &__nav {
        @media (max-width: 1023px) {
            display: none;
        }
    }

    // Mobile menu toggle
    &__menu-toggle {
        appearance: none;
        border: none;
        background: none;
        cursor: pointer;
        font-family: inherit;
        position: relative;
        width: rem(44);
        height: rem(44);
        z-index: 101;
        display: none !important;
        padding: 0;
        margin: 0;
        @include flex(center, center);
        color: $colorText150;
        transition: color 0.3s ease;

        &:hover {
            color: $colorText50;
        }

        &:focus-visible {
            outline: 2px solid $colorPrimary100;
            outline-offset: 2px;
            border-radius: rem(4);
        }
    }

    &__menu-icon {
        position: absolute;
        width: rem(28);
        height: rem(28);
        transition: opacity 0.3s ease, transform 0.3s ease;

        &--open {
            opacity: 1;
            transform: scale(1);
        }

        &--close {
            opacity: 0;
            transform: scale(0.8);
        }
    }

    &__menu-toggle.is-active {
        .header__menu-icon--open {
            opacity: 0;
            transform: scale(0.8);
        }

        .header__menu-icon--close {
            opacity: 1;
            transform: scale(1);
        }
    }

    // ==========================================================================
    // Media Queries
    // ==========================================================================

    @media (max-width: 1023px) {
        &__inner {
            padding-left: rem(30);
            padding-right: rem(30);
        }

        &__nav {
            display: block;
            position: fixed;
            inset: 0;
            background: $colorBlack;
            @include flex(center, center);
            opacity: 0;
            visibility: hidden;
            z-index: 99;
            transition: opacity 0.3s ease, visibility 0.3s ease;

            &.is-open {
                opacity: 1;
                visibility: visible;
            }
        }

        &__nav-list {
            flex-direction: column;
            gap: rem(30);
        }

        &__nav-item {
            padding-right: 0 !important;
            padding-left: 0 !important;

            &::after {
                display: none;
            }
        }

        &__menu-toggle {
            display: flex !important;
        }
    }

}