// ==========================================================================
// Header Component
// ==========================================================================

@use '../base/mixins' as *;

// Container styles for header__inner
%container {
  width: 100%;
  max-width: 1644px;
  margin: 0 auto;
  padding-left: rem(30);
  padding-right: rem(30);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: rem(20);
    padding-bottom: rem(20);
    background-color: #161616;
    // z-index: will be set separately
    // transition: will be set separately

    // Scrolled state
    &.is-scrolled {
        // @include glass-effect; // TODO: Add glass-effect mixin
        background: rgba(10, 10, 10, 0.9);
    }

    // Hidden state (on scroll down)
    &.is-hidden {
        transform: translateY(-100%);
    }

    &__inner {
        width: 100%;
        max-width: 1644px;
        margin: 0 auto;
        padding-left: rem(164);
        padding-right: rem(164);
        @include flex(space-between, center);
        height: 100%;
    }

    &__logo {
        position: relative;
        // z-index: will be set separately
    }

    &__logo-link {
        @include flex(center, center);
    }

    &__logo-text {
        font-family: 'Cormorant Garamond', serif;
        font-size: clamp(2rem, 2.5vw, 2.8rem);
        // font-weight: will be set separately
        // letter-spacing: will be set separately
        color: #ffffff;
        text-transform: uppercase;
    }

    &__nav {
        @media (max-width: 1023px) {
            position: fixed;
            inset: 0;
            background: #161616;
            @include flex(center, center);
            opacity: 0;
            visibility: hidden;
            // transition: will be set separately

            &.is-open {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__nav-list {
        @include flex(center, center);
    }

    &__nav-item {
        overflow: hidden;
        position: relative;

        &:not(:last-child) {
            padding-right: rem(40);

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 1em;
                background-color: #ffffff;
            }
        }

        &:not(:first-child) {
            padding-left: rem(40);
        }

        @media (max-width: 1023px) {
            padding-right: 0 !important;
            padding-left: 0 !important;

            &::after {
                display: none;
            }
        }
    }

    &__nav-link {
        display: inline-block;
        font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
        // font-weight: will be set separately
        // letter-spacing: will be set separately
        text-transform: uppercase;
        color: #ffffff;
        position: relative;
        // padding: will be set separately

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: #4A4540;
            // transition: will be set separately
        }

        &:hover::after {
            width: 100%;
        }

        &:focus-visible {
            outline: 2px solid #4A4540;
            outline-offset: 2px;
        }

        @media (max-width: 1023px) {
            // Font size handled separately
        }
    }

    &__actions {
        @include flex(center, center);
    }

    &__cta {
        @media (max-width: 767px) {
            display: none;
        }
    }

    // Mobile menu toggle
    &__menu-toggle {
        appearance: none;
        border: none;
        background: none;
        cursor: pointer;
        font-family: inherit;
        position: relative;
        width: 3.2rem;
        height: 2.4rem;
        // z-index: will be set separately

        @media (min-width: 1024px) {
            display: none;
        }
    }

    &__menu-line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        // transition: will be set separately

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 0;
        }

        .header__menu-toggle.is-active & {
            &:nth-child(1) {
                transform: translateY(1.1rem) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(-1.1rem) rotate(-45deg);
            }
        }
    }

}
