// ==========================================================================
// Sub-2 Page Styles - Chromatique Perfume Brand
// ==========================================================================
// 
// Page-specific styles for the sub-2 page.
// This file is imported by style.scss and will not compile to CSS directly.
// Responsive: Desktop-first (max-width based)
//
// ==========================================================================

@use '../base/variables' as *;
@use '../base/mixins' as *;
@use '../components/extends' as *;

// ========================================
// Desktop-L Styles (Default - 1720px+)
// ========================================

.sub-2__kv {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/images/sub-2/kv-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        pointer-events: none;
    }

    .kv-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $colorText50;
        z-index: 10;
        width: 90%;

        .kv__title {
            font-size: rem(122);
            transition: font-size 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        .kv__description {
            padding-top: rem(30);
            font-size: rem(24);
            transition: font-size 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94), padding-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);

            br {
                display: block;
            }
        }
    }
}

.perfume-list {
    .mySwiper2 {
        width: 100%;
        height: 100%;
    }

    .perfume-list-bg__container .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .perfume-list-bg {
        display: block;
        width: 100vw;
        // height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .mySwiper2 {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .perfume-list-bg__container .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .mySwiper2 {
        height: 80%;
        width: 100%;
    }

    .perfume-list-preview {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .perfume-list-preview .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .perfume-list-preview .swiper-slide-thumb-active {
        opacity: 1;
    }

    .perfume-list-preview .swiper-slide img {
        display: block;
        width: rem(200);
        height: rem(132);
        object-fit: cover;
    }

}

.direct {
    width: 100%;
    background-image: url('../../assets/images/sub-2/direct.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    transition: height 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        pointer-events: none;
    }

    &__inner {
        position: relative;
        z-index: 10;
        text-align: center;
        padding: 0 $padding-desktop-l;
        transition: padding 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &__title {
        color: $colorText50;
        font-size: rem(32);
        margin-bottom: rem(30);
        transition: font-size 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94), margin-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}


// ========================================
// Desktop-S Styles (min-width: 1470px and max-width: 1719px)
// ========================================

@media (min-width: 1470px) and (max-width: 1719px) {
    .sub-2__kv {
        .kv-text {
            .kv__title {
                font-size: rem(100);
            }

            .kv__description {
                padding-top: rem(28);
                font-size: rem(22);
            }
        }
    }

    .direct {
        height: 78vh;

        &__inner {
            padding: 0 $padding-desktop-s;
        }

        &__title {
            font-size: rem(30);
            margin-bottom: rem(28);
        }
    }
}

// ========================================
// Laptop Styles (min-width: 1200px and max-width: 1469px)
// ========================================

@media (min-width: 1200px) and (max-width: 1469px) {
    .sub-2__kv {
        .kv-text {
            .kv__title {
                font-size: rem(80);
            }

            .kv__description {
                padding-top: rem(26);
                font-size: rem(20);
            }
        }
    }

    .direct {
        height: 75vh;

        &__inner {
            padding: 0 $padding-laptop;
        }

        &__title {
            font-size: rem(28);
            margin-bottom: rem(26);
        }
    }
}

// ========================================
// Tablet-L Styles (min-width: 768px and max-width: 1199px)
// ========================================

@media (min-width: 768px) and (max-width: 1199px) {
    .sub-2__kv {
        .kv-text {
            .kv__title {
                font-size: rem(64);
            }

            .kv__description {
                padding-top: rem(22);
                font-size: rem(18);

                br {
                    display: block;
                }
            }
        }
    }

    .direct {
        height: 70vh;

        &__inner {
            padding: 0 $padding-tablet-l;
        }

        &__title {
            font-size: rem(24);
            margin-bottom: rem(22);
        }
    }
}

// ========================================
// Tablet-S Styles (min-width: 480px and max-width: 767px)
// ========================================

@media (min-width: 480px) and (max-width: 767px) {
    .sub-2__kv {
        .kv-text {
            .kv__title {
                font-size: rem(48);
            }

            .kv__description {
                padding-top: rem(20);
                font-size: rem(16);
            }
        }
    }

    .direct {
        height: 65vh;

        &__inner {
            padding: 0 $padding-tablet-s;
        }

        &__title {
            font-size: rem(22);
            margin-bottom: rem(20);
        }
    }
}

// ========================================
// Mobile Styles (min-width: 320px and max-width: 479px)
// ========================================

@media (min-width: 320px) and (max-width: 479px) {
    .sub-2__kv {
        .kv-text {
            .kv__title {
                font-size: rem(36);
            }

            .kv__description {
                padding-top: rem(16);
                font-size: rem(14);

                br {
                    display: none;
                }
            }
        }
    }

    .direct {
        height: 60vh;

        &__inner {
            padding: 0 $padding-mobile;
        }

        &__title {
            font-size: rem(18);
            margin-bottom: rem(16);
        }
    }
}